.chatbot-icon {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--main-color);
    position: fixed;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}