<div
    class="contracts"
    [ngClass.gt-sm]="{'contracts--large': true}"
>
    <div
        class="contracts__title"
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass.gt-sm]="{'contracts__title--large': true}"
    >
        Contracts for {{'{{ Client }}'}}  
    </div>

    <app-contracts-filter></app-contracts-filter>

    <app-table
        [tableConfig]="tableConfig"
        [tableData]="tableData"
        [customTemplate1]="cellWithPhoto"
        [customTemplate2]="cellWithStatus"
    >
        <ng-template #cellWithPhoto let-profile>
            <div
                class="contracts__table-cell-photo"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <img src="../../../assets/png/profile.png" fxHide fxShow.gt-xs="true" />
                {{profile.name}}
            </div>
        </ng-template>

        <ng-template #cellWithStatus let-status>
            <div
                class="contracts__table-cell-status"
                fxLayout="row"
                fxLayoutAlign="start center"
                [ngClass]="{'contracts__table-cell-status--pending': status != 'Active'}"
            >
                <div class="status-circle"></div>
                {{status}}
            </div>
        </ng-template>
    </app-table>
</div>
